@import "tailwindcss";

@theme {
  --font-sans: var(--font-dm-sans), sans-serif;
  --font-serif: var(--font-dm-serif), serif;
}

/* If you still want to override body and headings directly */
body {
  font-family: var(--font-sans);
}

h1 {
  font-family: var(--font-serif);
} 

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Add this to your global CSS file or in a style tag */
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}